$text-highlight: #fff;
$text-bright: #eee;
$foreground: #ccc;
$text-dim: #aaa;

$border-badge: #069;
$border-dim: #666;
$border-form: #045;

$success: green;
$neutral: #1eb2ec;
$failure: #bd2121;

$form-surface: #19292d;

$bg-gradient-start: #2b2b3a;
$bg-gradient-end: #112;
