@use 'colors';

@mixin field {
  background: colors.$form-surface;
  border: 1px solid colors.$border-form;
  border-radius: 0.2rem;
  color: colors.$text-bright;
  padding: 0.5rem;
  outline: none;
}

@mixin submit {
  background-color: colors.$border-form;
  border: 1px solid colors.$border-form;
  border-radius: 0.5rem;
  color: colors.$text-bright;
  padding: 0.2rem 0.5rem;
}

@mixin item {
  display: inline;
}

@mixin suffix {
  font-size: 0.8rem;
}

@mixin button-primary {
  background-color: colors.$form-surface;
  border: 1px solid colors.$border-form;
  border-radius: 0.3rem;
  color: colors.$text-bright;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
}

@mixin invalid {
  color: colors.$failure;
  border-color: colors.$failure;
}
