@use 'colors';

:global {
  * {
    margin: 0;
    padding: 0;
  }

  html,
  body,
  #root {
    height: 100%;
  }

  body {
    background: radial-gradient(
      circle at bottom,
      colors.$bg-gradient-start 0,
      colors.$bg-gradient-end 100%
    );
    color: colors.$foreground;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.2rem;
    overflow: hidden;
    overscroll-behavior: none;
  }

  a {
    color: colors.$text-bright;
  }

  input[type='number'] {
    -moz-appearance: textfield;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
