@use 'forms';

.form {
  align-items: center;
  display: flex;
  gap: 1rem;
  justify-content: center;

  input[type='submit'] {
    @include forms.submit;
  }
}

.form-field {
  @include forms.field;
  margin: 0 0.2rem 0 0.5rem;
  width: 3rem;
}

.form-item {
  @include forms.item;
}

.form-suffix {
  @include forms.suffix;
}
