.edit-history {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
  margin: 1rem 0;
  background: #19292d;
  border: 1px solid #045;
  border-radius: 1rem;
  padding: 1rem 0;
}
