@use 'colors';

.vertical-tabs {
  background: colors.$form-surface;
  border: 1px solid colors.$border-form;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  overflow-x: hidden;
  width: 20rem;
}
