@use 'colors';

.wrapper {
  align-items: center;
  display: flex;
  padding: 1rem 0;

  &:not(:last-child) {
    border-bottom: 1px dotted colors.$border-dim;
  }
}

.item {
  display: flex;
  flex-grow: 1;
  font-size: 1.2rem;
  justify-content: space-between;
  padding: 0.5rem 0;
}

.statement {
  padding: 0 0.5rem;
}

.up,
.down {
  color: colors.$text-highlight;
  font-weight: bold;
}

.emoji {
  display: inline-block;
  font-size: 1.5rem;
  padding-right: 0.5rem;
  text-align: center;
  width: 2rem;
}

.vertical {
  display: flex;
  flex-direction: column;
}
