@use 'colors';

.header {
  font-size: 1rem;
  text-align: center;
}

.list {
  list-style-type: none;
}

.scroll-container {
  border-top: 1px solid colors.$border-dim;
  flex: 1 1 0;
  overflow-x: hidden;
  overflow-y: auto;
}
