.time {
  display: flex;
  flex: 1 2 0;
}

.status {
  display: flex;
  flex: 1 1 0;
  flex-direction: column;
  gap: 1rem;
  padding: 0 1rem;
}

.center {
  align-items: center;
  justify-content: center;
}

.history {
  display: flex;
  flex: 0 0 0;
  flex-direction: column;
  margin-top: 1rem;
  height: 40vh;
  width: 90%;
}
