@mixin center {
  align-items: center;
  justify-content: center;
}

@mixin resize-transition {
  transition: flex-grow 200ms;
}

.wrapper {
  @include center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 100%;
}

.time {
  @include center;
  @include resize-transition;
  display: flex;
  flex: 1 0 0;
}

.status {
  @include center;
  @include resize-transition;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 5 0 0;
}

.history {
  @include resize-transition;
  display: flex;
  flex: 6 1 0;
  flex-direction: column;
  width: 20rem;
}

.asleep {
  .time {
    flex-grow: 1;
  }
  .status {
    flex-grow: 2;
  }

  .history {
    flex-grow: 6;
  }
}
