@use 'colors';

.stats {
  display: flex;
  font-size: 0.9rem;
}

.stat {
  color: colors.$text-dim;
  margin: 0 0.5rem;
  width: 3rem;

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }
}

.wide-stat {
  width: 4rem;
}
